@model MIEAUBRASIL.Models.AnimalDoador

@{
    ViewData["Title"] = "Excluir -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .titulo-modal-delete{
        color: red;
    }
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        height: 50%;
        border: 1px solid #888;
        width: 50%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 38px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

@{
    #region converte dropdownList

    switch (int.Parse(Model.Especie))
    {
        case 1:
            Model.Especie = "Cachorro";
            break;
        case 2:
            Model.Especie = "Gato";
            break;
        default:
            Model.Especie = "?";
            break;
    }

    switch (int.Parse(Model.Genero))
    {
        case 1:
            Model.Genero = "Macho";
            break;
        case 2:
            Model.Genero = "Fêmea";
            break;
        default:
            Model.Genero = "?";
            break;
    }

    switch (int.Parse(Model.Porte))
    {
        case 1:
            Model.Porte = "Pequeno";
            break;
        case 2:
            Model.Porte = "Médio";
            break;
        case 3:
            Model.Porte = "Grande";
            break;
        default:
            Model.Porte = "?";
            break;
    }
    switch (int.Parse(Model.Estado))
    {
        case 1:
            Model.Estado = "Acre";
            break;
        case 2:
            Model.Estado = "Alagoas";
            break;
        case 3:
            Model.Estado = "Amapá";
            break;
        case 4:
            Model.Estado = "Amazonas";
            break;
        case 5:
            Model.Estado = "Bahia";
            break;
        case 6:
            Model.Estado = "Ceará";
            break;
        case 7:
            Model.Estado = "Distrito Federal";
            break;
        case 8:
            Model.Estado = "Espirito Santo";
            break;
        case 9:
            Model.Estado = "Goiás";
            break;
        case 10:
            Model.Estado = "Maranhão";
            break;
        case 11:
            Model.Estado = "Minas Gerais";
            break;
        case 12:
            Model.Estado = "Mato Grosso do Sul";
            break;
        case 13:
            Model.Estado = "Mato Grosso";
            break;
        case 14:
            Model.Estado = "Pará";
            break;
        case 15:
            Model.Estado = "Paraíba";
            break;
        case 16:
            Model.Estado = "Pernambuco";
            break;
        case 17:
            Model.Estado = "Piauí";
            break;
        case 18:
            Model.Estado = "Paraná";
            break;
        case 19:
            Model.Estado = "Rio de Janeiro";
            break;
        case 20:
            Model.Estado = "Rio Grande do Norte";
            break;
        case 21:
            Model.Estado = "Rondônia";
            break;
        case 22:
            Model.Estado = "Roraima";
            break;
        case 23:
            Model.Estado = "Rio Grande do Sul";
            break;
        case 24:
            Model.Estado = "Santa Catarina";
            break;
        case 25:
            Model.Estado = "Sergipe";
            break;
        case 26:
            Model.Estado = "São Paulo";
            break;
        case 27:
            Model.Estado = "Tocantins";
            break;
        default:
            Model.Estado = "?";
            break;
    }
    #endregion
}

<style>
    .foto {
        border-radius: 50px;
        box-shadow: 1px 1px 3px 5px #000;
    }

    .card-redondo {
        /*position: relative;*/
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        /*border: 1px solid rgba(0, 0, 0, 0.125);*/
        border-radius: 5px 10px;
    }
</style>
<h1>Excluir <i class="fa fa-trash"></i></h1>

<div>
    @{
        if (Model.Genero == "Macho")
        {
            <h4>Tem certeza que deseja excluir o @Html.DisplayFor(model => model.NomeAnimal)?</h4>
        }
        if (Model.Genero == "Fêmea")
        {
            <h4>Tem certeza que deseja excluir a @Html.DisplayFor(model => model.NomeAnimal)?</h4>
        }
    }


    <p></p>
    <div class="row">
        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-3">
                    Nome do Animal
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.NomeAnimal)
                </dd>
                <dt class="col-sm-3">
                    Espécie
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Especie)
                </dd>
                <dt class="col-sm-3">
                    Gênero
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Genero)
                </dd>
                <dt class="col-sm-3">
                    Deficiência
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Deficiencia)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Vacinado)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Vacinado)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Castrado)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Castrado)
                </dd>
                <dt class="col-sm-3">
                    Observação
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Observacao)
                </dd>
                <dt class="col-sm-3">
                    Data do Resgate do Animal
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DataResgate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Idade)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Idade)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Porte)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Porte)
                </dd>

            </dl>
        </div>
        <div class="card-redondo col-6">
            <img src="@Url.Content(Model.PathFoto)" class="foto" height="420" />
        </div>

    </div>

</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h4 class="titulo-modal-delete">Confirme o Código <i class="fa fa-trash"></i></h4>
            </div>

        </div>
        <form asp-action="Delete">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                    @{@if (Model.Genero != "2")
                        {
                            <label class="control-label">Insira o código do @Model.NomeAnimal para provar que ele é seu!</label>
                        }
                        else if (Model.Genero == "2")
                        {
                            <label class="control-label">Insira o código da @Model.NomeAnimal para provar que ela é sua!</label>
                        }

                    }
                    <input asp-for="ConfirmaCod" class="form-control" />
                    <span asp-validation-for="ConfirmaCod" class="text-danger"></span>
                    <p></p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="form-group col-2">

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Codigo" />
                    <input type="submit" value="Confirmar" class="btn btn-danger" />

                </div>
            </div>
        </form>
       
    </div>
</div>

<div class="row">
    <div class="col-1">
        <div class="form-group col-2">
            <button id="modal" class="btn btn-danger">Excluir</button>
        </div>
    </div>
    <div class="col-5">
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-dark">Voltar</a>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    /*   var modal = document.getElementById("modal");*/

    // Get the button that opens the modal
    var btn = document.getElementById("modal");
    /*    var btn = document.getElementById("btnConfirmar");*/

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

